<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmainmenu">
            <SUBMENU id="mxcoresett" cl="shop" list="shop_list">
                <TAB id="tbclmarm_shopgate_config" cl="marm_shopgate_config" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <MAINMENU id="mxmanageprod">
        <SUBMENU id="mxarticles" cl="article" list="article_list">
            <TAB id="tbclmarm_shopgate_article" cl="marm_shopgate_article" />
        </SUBMENU>
    </MAINMENU>
</OX>
